<div *ngIf="task">

    <div class = "card my-3">
        <div class="card-header">
            Task {{task.id}}-{{task.name}}
        </div>
        <div class="card_body p-3">
            <input type="text" class="form-control my-3" id="task-name" [(ngModel)]="task.name" placeholder="name" />
            
            <button class="btn btn-outline-primary mr-3 my-3" (click)="goBack()">go back</button>
            <button class="btn btn-outline-info" (click)="update()">save</button>
            
            
            
        </div>
    </div>

</div>

